/*Last Modified 2014-10-21 1145 IKC*/
/* Army Mobile Document */

	
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
}

:focus {
	outline:0;
}

body {
	background:#FFF;
	color:#000;
	line-height:1;
}

ol,ul {
	list-style:none;
}


	
/* 2. Elements
------------------------------------*/
body {
	font-family:Helvetica, arial, sans-serif;
	background: #363636;
}

h1,h2,h3, h4,h5,h6 {
	font-weight:normal;
}


	
/* 3. IDs
------------------------------------*/
#facebook_img{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 0px;
	height: 0px;
	overflow: hidden;
}
#uberWrapper {
	background: #363636 url(/e2/rv5_images/mobile/repeater_header.jpg) repeat-x;
	overflow: hidden;
	padding-bottom: 30px;
	width: 100%;
}

#wrapper {
	margin:0 auto;
	width:950px;
}

#header {
	height:61px;
}

#title {
	width:382px;
	height:44px;
	background:url(/e2/rv5_images/mobile/army_mobile.gif) no-repeat;
	margin-top:26px;
}

#title a {
	width:382px;
	height:44px;
	text-indent:-9999px;
	display:block;
}

#nav {
	width:950px;
	height:31px;
}

#navBlock {
	display:block;
	width:413px;
	height:31px;
	background:url(/e2/rv5_images/mobile/nav_bar.jpg) no-repeat;
	left:590px;
	position:relative;
	float:left;
	font-size:.8em;
	padding-left:40px;
	letter-spacing:1px;
}

#nav ul {
	float:left;
}

#nav li {
	display:inline;
	float:left;
}

#nav li a {
	padding-left:28px;
	margin-top:9px;
	float:left;
	text-decoration:none;
/*	background:url(/e2/rv5_images/mobile/nav/subnav_divider.gif) no-repeat right center;	*/
	color:#ddd;
}

#nav li a:hover, #nav li a:focus {
	color:#7c7c7c;
}

#nav li a.current {
	color:#ffc908;
}

#bodytitle {
	width:950px;
	height:32px;
	margin-top:25px;
}

#bodytitle h2 {
	width:320px;
	height:32px;
	border-bottom:solid;
	border-bottom-color:#93928f;
	border-bottom-width:1px;
	font-size:1.6em;
	font-weight:normal;
	color:#ffc908;
	letter-spacing:1px;
}

#phoneimage {
	width:280px;
	height:605px;
	float:right;
}
.iphone {
	background-image:url(/e2/rv5_images/mobile/iphone4.jpg);
	background-repeat:no-repeat;
}
.iphone .slideshow_container {
	height: 330px;
	margin: 95px 0 0 31px;
	overflow: hidden;
	position: relative;
	width: 219px;
}
.iphone .slideshow_container .slideshow{
	height:330px;
	margin:0;
	overflow:hidden;
	padding:0;
	position:absolute;
	top:0;
	left:0;
	width:219px;
}
.iphone .slideshow_container .slideshow img{
	left:0;
	top:0;
}

.iphone_blank {
	background-image:url(/e2/rv5_images/mobile/iphone4_blank.jpg);
	background-repeat:no-repeat;
}

.wap {
	background-image:url(/e2/rv5_images/mobile/wap_phone.jpg);
	background-repeat:no-repeat;
}
#phoneimage.wap{
	float:left;
	margin-top:20px;
	margin-right:100px;
}

.extras_image {
	background-image:url(/e2/rv5_images/mobile/extras_phones.jpg);
	background-repeat:no-repeat;
}

#phoneplay {
	margin-top:180px;
	margin-left:64px;
}

#phoneplay a {
	width:150px;
	height:147px;
	display:block;
	background:url(/e2/rv5_images/mobile/play.png) 0 0 no-repeat;
	text-indent: -9999px;
}

#phoneplay a:hover, #phoneplay a:focus {
	background:url(/e2/rv5_images/mobile/play.png) 1px -146px no-repeat;
}

#phonetext {
	width:400px;
	float:left;
	position: relative;
}
#phonetext.waptext{
	margin-top:30px;
}

#phonetext.extras_text {
	margin-top:20px;
}


#phonetext h3 {
	font-size:1.2em;
	font-weight:normal;
	color:#ffffff;
	letter-spacing:2px;
	margin-top:10px;
	width:315px;
	line-height:1.2em;
	float:right;
}
#phonetext h3.ringtones {
	margin-top:40px;
}
#phonetext.waptext h3, #phonetext.extras_text h3 {
	float:left;
	width:400px;
	margin-bottom:10px;
}
#phonetext h4 {
	font-size:1em;
	color:#ffffff;
	margin-top:15px;
	clear:left;
	letter-spacing:1px;
}

#phonetext p {
	font-size:.8em;
	font-weight:normal;
	color:#d3d3d3;
	letter-spacing: 1px;
	line-height: 20px;
	margin: 18px 0;
}

#phonetext li {
	font-size:.8em;
	font-weight:normal;
	color:#d3d3d3;
	list-style-type:disc;
	margin-top:15px;
	margin-left:15px;
	letter-spacing:1px;
	line-height:16px;
	clear:both;
}

#phonetext li a {
	font-weight:normal;
	color:#ffc908;
	text-decoration:none;
}

#phonetext li a:hover, #phonetext li a:focus {
	font-weight:normal;
	text-decoration:underline;
}

#phonetext li.subhead {
	list-style:none;
	font-size:1em;
	line-height:1.4em;
	margin-left:0;
}

#appimage {
	width:260px;
	float:left;
	margin-top:30px;
}
#appimage img {
	margin-bottom:10px;
}

#appimage p {
	margin:0;
}

#appimage p a {
	color:#f7f7f7;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.3em;
    background-color: #7a7a7a;
    display: block;
    padding: 7px 10px 7px 10px;
	border:2px solid #f7f7f7;
    border-radius: 7px;
	margin:0;
}

#appimage p a:hover {
    color: #ffc908;
    border: 2px solid #ffc908;
}

#share_wrapper {
	width:270px;
	height:75px;
	clear:right;
	float:right;
	overflow:hidden;
	margin-top:-40px;
}

#sharecontain {
	width:270px;
	height:75px;
	float:right;
}
#sharecontain.extras{
	margin-top:30px;
}

#sharecontain p {
	font-size:.7em;
	font-weight:normal;
	color:#ffffff;
	letter-spacing:1px;
	float:right;
	padding-right:10px;
	padding-bottom:8px;
}

#sharebox {
	width:250px;
	height:50px;
	float:right;
	background-color:#7a7a7a;
	margin-right:10px;
	border-color:#d3d3d3;
	border-style:solid;
	border-width:1px;
}

#share {
	margin-top:7px;
	width:275px;
	text-indent:-9999px;
}

#facebook,#twitter,#myspace,#digg,#google {
	background:no-repeat;
	height:37px;
	width:37px;
	margin-right:10px;
	float:left;
}

#facebook {
	background:url(/e2/rv5_images/mobile/socialmedia.jpg);
	margin-left:13px;
}

#facebook:hover,#facebook:focus {
	background-position:0 -37px;
}

#twitter {
	background:url(/e2/rv5_images/mobile/socialmedia.jpg);
	background-position:-37px 0;
}

#twitter:hover,#twitter:focus {
	background-position:-37px -37px;
}

#myspace {
	background:url(/e2/rv5_images/mobile/socialmedia.jpg);
	background-position:-74px 0;
}

#myspace:hover,#myspace:focus {
	background-position:-74px -37px;
}

#digg {
	background:url(/e2/rv5_images/mobile/socialmedia.jpg);
	background-position:-111px 0;
}

#digg:hover,#digg:focus {
	background-position:-111px -37px;
}

#google {
	background:url(/e2/rv5_images/mobile/socialmedia.jpg);
	background-position:-148px 0;
}

#google:hover,#google:focus {
	background-position:-148px -37px;
}

#footer {
	background:#464646 url(/e2/rv5_images/mobile/footer.jpg) top repeat-x;
	min-width:950px;
	overflow: visible;
}

#footercontain {
	width:950px;
	margin:0 auto;
	height:115px;
	min-width:950px;
	padding-top:30px;
}

#myarmy {
	background:url(/e2/rv5_images/mobile/myarmy.png) no-repeat;
	width:322px;
	height:115px;
	float:left;
}

#myarmy a {
	width:322px;
	height:115px;
	display:block;
	text-indent:-9999px;
}

#armystar {
	background:url(/e2/rv5_images/mobile/army_star.png) no-repeat;
	width:81px;
	height:100px;
	float:right;
}

#armystar a {
	width:81px;
	height:100px;
	display:block;
	text-indent:-9999px;
}
img .titleappicon{
	width:70px;
	height:70px;
	float:left;
}

.slideshow{
	position: relative;
	top: 95px;
	left: 31px;
	width:220px;
	height:330px;
}


/* app navigation menu */

#appnav{
	width:230px;
	border-top:1px solid #282828;
	border-bottom:1px solid #5b5b5b;
	margin-top:10px;
	margin-right:30px;
	float:left;
}
#appnav ul li{
	margin:0;
	padding:0;
	list-style:none;
	width:230px;
	height:42px;
	border-top:1px solid #5b5b5b;
	border-bottom:1px solid #282828;
}
#appnav ul li.currentapp{
	background:url(/e2/rv5_images/mobile/app_grad.gif) repeat-y center;
}
#appnav ul li:hover, #appnav ul li:focus{
	background:url(/e2/rv5_images/mobile/app_grad.gif) repeat-y center;
}
#appnav ul li a{

	display:block;
	width:190px;
	height:37px;
	background:url(/e2/rv5_images/mobile/app_arrow.gif) no-repeat right;
	font-family:helvetica, arial, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#fff;
	text-decoration:none;
	padding:6px 30px 0 10px;
	line-height:15px;
}
#appnav ul li a img{
	float:left;
	width:27px;
	height:26px;
	margin:2px 10px 0 0;
}
#bodytitle h2.appnav_title {
	width:250px;
	border:none;
}


	
/* fancyzoom/video */
#zoomOverlay {
	background-color:#000000;
	display:none;
	opacity:0.7;
	height:100%;
	left:0;
	position:fixed;
	top:0;
	width:100%;
	z-index:100;
}

#zoom {
	z-index:101;
}

.video {
	display:none;
}
.hide {
	position:absolute;
	left:-1000px;
	top:0;
	width:1px;
	height:1px;
	overflow:hidden;
}
.clear {
	clear:both;
}
#brightvideo_iphone{
	position: relative;
	top: 83px;
	left: 26px;
	width:230px;
	height:340px;
	overflow:hidden;
}
#brightvideo_wap{
	position: relative;
	top: 78px;
	left: 26px;
	overflow:hidden;
}
.wallpaper_contain{
	width:515px;
	overflow:hidden;
	clear:left;
}
.wallpaper_contain  a img{
	float:left;
	margin-top:15px;
	border:1px solid #d3d3d3;
	margin:12px 0 0 0;
	display:block;
}
.wallpaper_contain a img:hover{
	border:1px solid #ffffff;
}
.wallpaper_contain ul{
	float:left;
}
#phonetext .wallpaper_contain ul li{
	list-style-type:none;
	margin-top:0;
	margin-bottom:5px;
}
#phonetext .wallpaper_contain ul{
	margin-top:12px;
}


/* -- Instructions -- */

#extrasLeft{
	float: left;
	width: 320px;
	margin-right:50px;
}
#extrasLeft img{
	margin-top: 35px;
}
#extrasLeft p{
	font-size:0.8em;
	font-weight:normal;
	letter-spacing:1px;
	color: #fff;
	padding-top: 3px;
}
#extrasLeft a{
	color: #FFC908;
	text-decoration: none;
}
#extrasLeft a:hover{
	text-decoration: underline;
}

#instructions{
	background: #272727;
	border: 1px solid #171717;
}
#instructions li{
	color:#D3D3D3;
	font-size:0.8em;
	font-weight:normal;
	letter-spacing:1px;
	line-height:16px;
	list-style-type:disc;
	margin: 8px 0 8px 15px;
}
#instructions li a{
	color: #FFC908;
	text-decoration: none;
}
#instructions li a:hover{
	text-decoration: underline;
}
.darkbox{
	padding: 15px;
}
.darkbox ul{
	border-bottom: 1px dashed #474747;
	padding-left: 8px;

}
#instructions h4{
	margin-top: 0;
	color: #fff;
	line-height: 19px;
}
#instructions p{
	margin: 8px 0 0px 0;
	
}
#externalLinks {

}
#externalLinks p {
	font-size:.7em;
	line-height: 17px;
}

