/* Army Mobile IE6 CSS */
#nav { margin-top: 17px; }
#addThis ul li { display: inline; }
#addThis { margin: 0 auto; }
#share { width:250px; }
#sharebox { margin-right: 7px; }
#sharecontain p { margin-right: 5px; }
#phonetext h3{margin-top:-60px;}
#phonetext.extras_text h3, #phonetext.waptext h3{margin-top:10px;}