/* Army Mobile IE6 CSS */
#nav { margin-top: 26px; }
#addThis ul li { display: inline; }
#addThis { margin: 0 auto; }
#phonetext h3{margin-top:-60px;}
#phonetext.extras_text h3, #phonetext.waptext h3{margin-top:10px;}